/*GERAL*/
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --fundo-footer: linear-gradient(100deg, #131313, #202020 60%);

    --font-color: #f3efef;
    --font-banner: #383838;

    --fundo-escuro: #f0f0f07a;
}

body::-webkit-scrollbar {
    display: none;
 
}

html,
body {
    height: 100vh;
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}
#header {
    display: grid;
    grid-template-rows: repeat(2, 1.fr);
}
#header,
#header a {
    background-color: #812314;
    color: aliceblue;
}
.navbar-brand {
    margin-right: 2rem;
    padding-right: 70%;
}


button.navbar-toggler {
    background-color: #ededed;
    border: 2px solid #f3f3f3;
}

.navbar-toggler {
    padding-left: 5%;
    margin-left: 2rem;
}

.form-check {
    padding-left: 5%;
    margin-left: 1rem;
}

/* Editando nav list */

.navbar-collapse > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navbar-nav {
    margin-top: 1rem;
    list-style: none;

}
.nav-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* padding: 10px; */
}
.nav-item a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    /* padding-block: 5px; */
}
.nav-item > a {
    text-decoration: none;
    top: 1em;
    /* padding-block: 20px; */
    margin: 0.5em;
    font-size: 25px;
} 
.nav-item:hover{
    box-shadow:2px 2px 4px 0 #ffffff;
}

/* Editando o Compartilhar */
.navbar-collapse > .container-share {
    margin-top: 1rem;
}
.container-share > .shared-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.shared-buttons> p{
    color: var(--font-color);
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}
/* .container-share > p div{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
 
} */
/* .container-share > a{
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    justify-content: right;
} 
*/

/* Fim do Header */

/* Início do Main */

/* Início do conteúdo */


#background-bnn{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
/* Conteúdos dos site: Sobre */

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 2em;
    margin: 0 auto;
}
#sobre h1{
    padding: 1rem;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
  
    border-bottom: 4px solid #6e6e6e;
}
  /* #sobre h2{
    align-self: center;
    margin-bottom: 0;
    font-size: 35px;
    color: var(--font-banner);
    
    font-family:'Times New Roman', Times, serif;
  } */
  #sobre p{
    align-self: center;
    margin-left: 1em;
    padding:1rem;
    max-width: 80%;
  
    
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
  
}

/* Podcasters */

#podcast{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  
  max-width: 100%;
  padding: 2em;
  margin: 0 auto;
  
  background:#641b10;
}
#podcast h1{
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
  
    border-bottom: 4px solid #f5f5f5;
    color: #ffffff;
    align-self: center;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 10%;
}
#podcast h2{
    
    color: #ffffff;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    margin: 1rem;
    border-bottom: 4px solid #d8d8d8;
}
#podcast-card-content{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  /* display: grid;
  grid-template-columns: repeat(3, 3fr); */

  max-width: 100%;
}
#podcast-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border-radius: 20px;
  box-shadow: 0 6px 20px 0 #1d1a1aa1; */

  max-width: auto;
  margin: 1rem;
}
#podcast-card img{
    width: 350px;
    height: 320px;
    padding: .5rem;
    margin-top: 10px;
    max-width: 80%;
}

#podcast-card button{
    background: linear-gradient(40deg, #e9e9e9, #ffffff);
    border: none;
    
    box-shadow: 0 2px 10px 0 #474747a1;

    width: 350px;
    padding: .5rem;
    max-width: 75%;
}
#podcast-card a{
    
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #424242;
    padding-block: 5px;

    text-decoration: none;
}

@media screen and (max-width:1080px) {
    
    #podcast-card-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        /* padding: 1rem; */
    }
    #podcast-card{
        max-width: 100%;
    }
}
@media screen and (max-width:900px){
    html,
    body {
    height: 100vh;
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
    }
    .navbar-brand {
        margin-right: 1rem;
        padding-right: 40%;
    }
    .navbar-toggler {
        padding-left: 9%;
        margin-left: 1rem;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 22px;
    
        list-style: none;
    
    }
    
    .nav-list a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        padding-block: 5px;
    }
    .collapse.navbar-nav>ul {
        display: block;
        position: absolute;
        width: 90vw;
        height: 50vh;
        padding: 1rem;
    
        flex-direction: column;
        justify-content: flex-start;
        align-items: space-around;
        gap: 1em;
        pointer-events: none;
    
        z-index: 1000;
    }
    .nav-item > a {
        text-decoration: none;
    
        top: 1em;
        padding-block: 10px;
        margin: 0.5em;
        font-size: 20px;
    }

    .navbar-collapse > ul{
        display: flex;
        flex-direction: column;
    }

    #sobre h1{
        padding: 1rem;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
      
        border-bottom: 4px solid #6e6e6e;
    }
    #sobre p{
        align-self: center;
        /* margin-left: 1em;
        padding:1rem; */
        max-width: 100%;
      
        
        font-family:'Times New Roman', Times, serif;
        font-size: 22px;
      
    }
    #podcast h1{
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
      
        border-bottom: 4px solid #f5f5f5;
        color: #ffffff;
        align-self: center;
        padding: 1rem;
        margin-bottom: 2rem;
        height: 10%;
    }
    #podcast h2{
    
        color: #ffffff;
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        margin: 1rem;
        border-bottom: 4px solid #d8d8d8;
    }
    #podcast-card-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding:1rem; */
    }
    #podcast-card{
        
    max-width: 90%;
    }
}

/* Fim do conteúdo */

/* Footer */

footer {
    position: relative;
    background: var(--fundo-footer);
    width: 100%;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
}

#footer_content a {
    padding: 10px;
    font-size: 18px;
    font-weight: 570;
    color: var(--font-color);
    text-decoration: none;
}

/* fim dos projetos */
.block {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px 0 0 5px;
    padding: 20px;
}

.block h2 {
    margin-bottom: 1.5rem;

    font-size: 20px;
    font-weight: 650;
    color: #fff;
}

.block a {
    display: inline-block;

    margin-bottom: 1.6em;
}

.block:nth-child(1) i,
.block:nth-child(3) i {
    font-size: 16px;
    padding-right: 1rem;
}

.block:nth-child(1) a:hover,
.block:nth-child(3) a:hover {
    background-color: #3332325e;
}

.block:nth-child(2) .icons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}

.icons a i {
    font-size: 30px;
}

.icons .social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 3px;
}

.social:hover {
    background-color: #33323265;
    border-radius: 50%;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0 20px;
    background: var(--fundo-footer);
    color: #cccccc;
    font-weight: 600;

}

.copy span:hover {
    transition: .5s;
    color: #fff;
}

@media screen and (max-width:950px) {

    footer {
        padding: 0;
    }

    #footer_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 1.3rem;
    }
}

@media screen and (max-width:550px) {

    footer {
        padding: 0;
    }

    #footer_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 1.3rem;
    }
}

@media screen and (max-width:450px) {

    footer {
        padding: 0;
    }

    #footer_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}